/* App-wide styling */
@keyframes window-in {
    from {
        opacity: 0;
        transform: scale(0.85);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes window-out {
    from {
        opacity: 1;
        transform: scale(1);
    }
    
    to {
        opacity: 0;
        transform: scale(0.85);
    }
}

body {
    background-color: #131313;
    color: #e2e2e2;
    font-family: 'Tamzen8x16', monospace;
    font-size: 16px;
    -webkit-font-smoothing: none;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeSpeed;
    
    a {
        color: #888;
        text-decoration: underline;
        
        &:hover,&:focus {
            cursor: pointer;
            color: #ccc;
        }
        
        &.active {
            color: #ccc;
        }
    }
}

.desktop {
    position: absolute;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    
    .desktop-empty {
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
    
    .desktop-icons {
        padding: 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    
    .desktop-icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 48px;
        min-height: 48px;
        padding: 4px;
        z-index: 11;
        
        &:hover,&.selected {
            background-color: #333;
        }
        
        &.selected {
            border: 1px solid #e2e2e2;
        }
        
        &:not(.selected) {
            border: 1px solid transparent;
        }
        
        &:active {
            background-color: #444;
        }
        
        .desktop-icon-icon {
            stroke-width: 2px;
            width: 24px;
            height: 24px;
            user-select: none;
        }
        
        .desktop-icon-label {
            font-family: 'Tamzen6x12', monospace;
            font-size: 12px;
            color: #e2e2e2;
            text-align: center;
            user-select: none;
            overflow-wrap: anywhere;
            word-break: break-word;
            white-space: normal;
        }
    }
}

.bar {
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 24px;
    width: 100%;
    z-index: 60;
    background-color: #131313;
}

.window {
    &:not(.focused) {
        z-index: 40;
        .window-inner {
            filter: brightness(0.66);
        }
    }
    
    &.focused {
        z-index: 50;
    }
    
    &:not(.closing) .window-inner {
        @media not (prefers-reduced-motion: reduce) {
            animation: window-in 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
        }
    }
    
    &.closing {
        pointer-events: none;
        .window-inner {
            @media not (prefers-reduced-motion: reduce) {
                animation: window-out 500ms cubic-bezier(0.16, 1, 0.3, 1) forwards;
            }
        }
    }
    
    .window-inner {
        @media not (prefers-reduced-motion: reduce) {
            transition: filter 150ms ease-out;
        }
        
        width: 100%;
        height: 100%;
        border: #323232 1px solid;
        
        .window-title-bar {
            font-family: 'Tamzen7x14', monospace;
            font-size: 14px;
            user-select: none;
            background: #444;
            min-height: 24px;
            max-height: 24px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .window-title-bar-draggable {
                padding: 4px;
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            
            .window-title-bar-buttons {
                display: flex;
                gap: 6px;
                padding-right: 6px;
                button {
                    height: 12px;
                    width: 12px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    &#close {
                        background: #e26666;
                    }
                    
                    &#maximize {
                        &:not(.on) {
                            border: 1px solid #66e266;
                        }
                        
                        &.on {
                            background: #66e266;
                        }
                    }
                }
            }
        }
        
        .window-content {
            width: 100%;
            overflow: auto;
            height: calc(100% - 24px);
            background: #131313;
        }
        
        .window-corner {
            position: absolute;
            width: 8px;
            height: 8px;
            
            &.top-left {
                top: 0;
                left: 0;
                cursor: nw-resize;
            }

            &.top-center {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                cursor: n-resize;
            }

            &.top-right {
                top: 0;
                right: 0;
                cursor: ne-resize;
            }

            &.center-left {
                top: 50%;
                left: 0;
                transform: translateY(-50%);
                cursor: w-resize;
            }

            &.center-right {
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                cursor: e-resize;
            }

            &.bottom-left {
                bottom: 0;
                left: 0;
                cursor: sw-resize;
            }

            &.bottom-center {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                cursor: s-resize;
            }

            &.bottom-right {
                bottom: 0;
                right: 0;
                cursor: se-resize;
            }
        }
    }
}

#about-container {
    container-type: inline-size;
    container-name: main;
    
    #about-content {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 0.75rem;
        
        h2,h3,h4,h5,h6 {
            font-family: "Tamzen10x20", "monospace";
            font-size: 20px;
            font-weight: bold;
        }
        
        .about-header {
            display: flex;
            justify-content: space-between;
            
            @container main (width > 250px) {
                flex-direction: row;
                align-items: center;
            }
            
            @container main not (width > 250px) {
                flex-direction: column;
            }
            
            h1 {
                font-family: "Tamzen7x14", monospace;
                font-size: 28px;
                font-weight: bold;
            }
            
            .about-links {
                display: flex;
                gap: 0.75rem;
            }
        }
        
        div#about-home-page {
            display: flex;
            gap: 1.5rem;
            @container main (width > 400px) {
                flex-direction: row;
            }
            
            @container main not (width > 400px) {
                flex-direction: column;
            }
            
            .about-pfp {
                width: 6rem;
                height: 6rem;
                min-width: 6rem;
                min-height: 6rem;
            }
        }
    }
}